body{
    background-image: url("../img/istockphoto-1163366315-612x612.jpg");
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    display: flex;
    min-height: 100vh;
}
.login-form{
    width:500px;
    background-color: rgba(39, 38, 38, 0.1);
    border-radius: 10px;
}
form{
    width: 80%;
    margin: 0 auto;
}
form h1{
    text-align: center;
    font-size: 60px;
    font-family: serif;
    margin-top: 30px;
}
form .input-group input{
    width: 100%;
    border: none;
    outline: none;
    margin-top: 20px;
    background: transparent;
    border-bottom: 2px solid rgb(15, 0, 0);
    font-size: 25px;
    font-family: serif;
}
form .input-group .eye{
    position: absolute;
    right: 0;
    top: 30px;
}
form .input-group .eye #click1{
    display: none;
}
form button{
    width: 100%;
    font-size: 25px;
    padding: 8px 0;
    margin: 30px 0 40px;
    border-radius: 70px;
    color: aliceblue;
    font-weight: bold;
    font-family: serif;
    border: none;
    background-color: rgb(64, 6, 129);

}